html {
  font-size: 0.625em;
}

body {
  font-size: 1rem;
  font-family: 'Nanum Gothic Coding', monospace;
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 2em;
  line-height: 1.5;
  font-weight: 100;
}